#t2{
    color: blue;
    font-size: 10px;
}
#t3{
    color: red;
    font-size: 12px;
}
#t4{
    color: orange;
    font-size: 14px;
}
#t5{
    color: #ff00d4;
    font-size: 16px;
}
#t6{
    color: rgb(0, 255, 255);
    font-size: 18px;
}
#t7{
    color: rgb(9, 255, 0);
    font-size: 20px;
}
#t8{
    color: rgb(241, 206, 12);
    font-size: 22px;
}
#t9{
    color: rgb(37, 4, 94);
    font-size: 24px;
}
#t10{
    color: rgb(77, 5, 30);
    font-size: 26px;
}